<!--<h3 translate="offsidebar.setting.SETTINGS" class="text-center text-thin">Settings</h3>-->
<div class="p" style="padding-top:0px !important;">
   <h4 translate="offsidebar.setting.THEMES" class="text-muted text-thin">Themes</h4>
   <div class="table-grid mb">
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-e.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-info-dark"></span>
                  <span class="color bg-info"></span>
               </span>
               <span class="color bg-gray-dark"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-f.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-green-dark"></span>
                  <span class="color bg-green"></span>
               </span>
               <span class="color bg-gray-dark"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-g.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-purple-dark"></span>
                  <span class="color bg-purple"></span>
               </span>
               <span class="color bg-gray-dark"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-h.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-danger-dark"></span>
                  <span class="color bg-danger"></span>
               </span>
               <span class="color bg-gray-dark"></span>
            </label>
         </div>
      </div>
   </div>
   <div class="table-grid mb">
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-a.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-dark-green"></span>
                  <span class="color bg-dark-light-green"></span>
               </span>
               <span class="color bg-white"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-b.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-oli-green"></span>
                  <span class="color bg-lig-oligreen"></span>
               </span>
               <span class="color bg-white"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-c.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-purple"></span>
                  <span class="color bg-purple-light"></span>
               </span>
               <span class="color bg-white"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-d.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-danger"></span>
                  <span class="color bg-danger-light"></span>
               </span>
               <span class="color bg-white"></span>
            </label>
         </div>
      </div>
   </div>
   
</div>
<!--<div class="p" style="padding-top:0px !important;">
   <h4 class="text-muted text-thin" style="margin-top:0px;">Layout</h4>
   <div class="clearfix">
      <p translate="offsidebar.setting.layout.FIXED" class="pull-left">Fixed</p>
      <div class="pull-right">
         <label class="switch">
            <input type="checkbox" ng-model="app.layout.isFixed" />
            <span></span>
         </label>
      </div>
   </div>
   <div class="clearfix">
      <p translate="offsidebar.setting.layout.COLLAPSED" class="pull-left">Collapsed</p>
      <div class="pull-right">
         <label class="switch">
            <input type="checkbox" ng-model="app.layout.isCollapsed" />
            <span></span>
         </label>
      </div>
   </div>
   <div class="clearfix">
      <p class="pull-left">Boxed</p>
      <div class="pull-right">
         <label class="switch">
            <input type="checkbox" ng-model="app.layout.isBoxed" />
            <span></span>
         </label>
      </div>
   </div>
   <div class="clearfix">
      <p class="pull-left">RTL</p>
      <div class="pull-right">
         <label class="switch">
            <input type="checkbox" ng-model="app.layout.isRTL" />
            <span></span>
         </label>
      </div>
   </div>
</div>-->
<!--<div class="p">
   <h4 class="text-muted text-thin" style="margin-top:0px;">View Animation</h4>
   <select ng-model="app.viewAnimation" class="form-control" style="padding: 0px 16px;">
      <option value="ng-fadeInUp" selected="selected">fadeInUp</option>
      <option value="ng-fadeInDown">fadeInDown</option>
      <option value="ng-fadeInRight">fadeInRight</option>
      <option value="ng-fadeInLeft">fadeInLeft</option>
      <option value="ng-fadeInUpBig">fadeInUpBig</option>
      <option value="ng-fadeInDownBig">fadeInDownBig</option>
      <option value="ng-fadeInRightBig">fadeInRightBig</option>
      <option value="ng-fadeInLeftBig">fadeInLeftBig</option>
      <option value="ng-fadeIn">fadeIn</option>
   </select>
</div>-->
<div class="p" style="padding-top:0px !important;">
   <h4 class="text-muted text-thin" style="margin-top:0px;">License Status </h4>
   <div class="clearfix">
   	  <img src="app/img/panel-img-1.jpg" width="20" height="17" class="float-left mar-right-5">
      <p translate="" class="pull-left">Optimize</p>
      <div class="pull-right">
         <a href="#" class="text-green">Active</a>
      </div>
   </div>
   <div class="clearfix">
      <img src="app/img/panel-img-6.jpg" width="20" height="17" class="float-left mar-right-5">
      <p translate="" class="pull-left">Compete</p>
      <div class="pull-right">
         <a href="#" class="text-green">Active</a>
      </div>
   </div>
   <div class="clearfix">
      <img src="app/img/panel-img-3.jpg" width="20" height="17" class="float-left mar-right-5">
      <p class="pull-left">Locate</p>
      <div class="pull-right">
         <a href="#" class="text-green">Active</a>
      </div>
   </div>
   <div class="clearfix">
      <img src="app/img/panel-img-5.jpg" width="20" height="17" class="float-left mar-right-5">
      <p class="pull-left">Deliver</p>
      <div class="pull-right">
         <a href="#" class="text-green">Active</a>
      </div>
   </div>
   <div class="clearfix">
      <img src="app/img/panel-img-4.jpg" width="20" height="17" class="float-left mar-right-5">
      <p class="pull-left">Service</p>
      <div class="pull-right">
         <a href="#" class="text-green">Active</a>
      </div>
   </div>
   <div class="clearfix">
      <img src="app/img/panel-img-7.jpg" width="20" height="17" class="float-left mar-right-5">
      <p class="pull-left">Analyse</p>
      <div class="pull-right">
         <a href="#" class="text-green">Active</a>
      </div>
   </div>
   
</div>
<div class="p" style="padding-top:0px !important;">
   <h4 class="text-muted text-thin" style="margin-top:0px;">Service Status</h4>
   <div class="clearfix">
      <p translate="" class="pull-left">Optimize</p>
      <div class="pull-right">
         <label class="checkbox c-checkbox c-checkbox-rounded" style="margin: 0px;">
          <input id="roundedcheckbox10" type="checkbox" checked="checked">
         <span class="fa fa-check" style="background-color:#4cda64; border-color:#4cda64;"></span></label>
      </div>
   </div>
   <div class="clearfix">
      <p translate="" class="pull-left">Compete</p>
      <div class="pull-right">
         <label class="checkbox c-checkbox c-checkbox-rounded" style="margin: 0px;">
          <input id="roundedcheckbox10" type="checkbox" checked="checked">
         <span class="fa fa-check" style="background-color:#4cda64; border-color:#4cda64;"></span></label>
      </div>
   </div>
   <div class="clearfix">
      <p class="pull-left">Locate</p>
      <div class="pull-right">
         <label class="checkbox c-checkbox c-checkbox-rounded" style="margin: 0px;">
          <input id="roundedcheckbox10" type="checkbox" checked="checked">
         <span class="fa fa-sort-asc" style="background-color:#edba2d; border-color:#edba2d;"></span></label>
      </div>
   </div>
    <div class="clearfix">
      <p class="pull-left">Deliver</p>
      <div class="pull-right">
         <label class="checkbox c-checkbox c-checkbox-rounded" style="margin: 0px;">
          <input id="roundedcheckbox10" type="checkbox" checked="checked">
         <span class="fa fa-close" style="background-color:#ff4f3f; border-color:#ff4f3f;"></span></label>
      </div>
   </div>
    <div class="clearfix">
      <p class="pull-left">Service</p>
      <div class="pull-right">
         <label class="checkbox c-checkbox c-checkbox-rounded" style="margin: 0px;">
          <input id="roundedcheckbox10" type="checkbox" checked="checked">
         <span class="fa fa-exclamation" style="background-color:#e0c900; border-color:#e0c900;"></span></label>
      </div>
   </div>
   <div class="clearfix">
      <p class="pull-left">Analyse</p>
      <div class="pull-right">
         <label class="checkbox c-checkbox c-checkbox-rounded" style="margin: 0px;">
          <input id="roundedcheckbox10" type="checkbox" checked="checked">
         <span class="fa fa-minus" style="background-color:#ff5140; border-color:#ff5140;"></span></label>
      </div>	
   </div>
</div>
<div class="p" style="padding-top:0px !important;">
	 <!--<h4 class="text-muted text-thin" style="margin-top:0px;">User Settings</h4>-->
	 <div class="clearfix">
      <a href="#/page/logout" class="pull-left ">Sign Out</a>
     <div class="pull-right">
      
          
         <span class="icon-off" style="background-color:#ff5140; border-color:#ff5140;"></span>
      </div>
   </div>
	 
</div>

